.main{
    border-radius: 5px;
    border: 2px solid black;
    width: 70%;
    margin:auto;
}
.child{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 2px auto;
}
.old{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid red;
    display: block;
    color: red;
}
.young{
     width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid green;
    display: block;
    color: green;

}